# Neon PostgreSQL Connection URL
DATABASE_URL="postgresql://user:password@ep-host.region.pooler.neon.tech/dbname?sslmode=require"

# NextAuth Configuration
NEXTAUTH_SECRET="your_nextauth_secret_minimum_32_characters"
NEXTAUTH_URL="http://localhost:3000"
